@import "tailwindcss";
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #f6f7f9;
  color: #111;
  font-family: Arial, sans-serif;
}

button {
  font: inherit;
}