footer {
  display: flex;
  justify-content: flex-end;
  max-height: 57px;
  padding: 16px 80px;
  gap: 8px;
  border: 1px solid rgba(227, 230, 235, 1);
}

footer img {
  width: 24px;
  height: auto;
}

footer p {
  display: flex;
  align-items: center;
  height: 14px;
  font-size: 1.2vh;
}
