main {
  padding: 24px 0px;
  background-color: #f6f7f9;
}

main h2 {
  height: 44px;
  padding: 0;
  margin-left: 80px;
  margin-bottom: 12px;
  text-align: left;
  font-size: 38px;
  font-weight: bold;
}

#movie-grid-list {
  display: grid;
  grid-template-columns: repeat(5, 241px);
  gap: 20px 18px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  justify-content: center;
}

/* 1200px 이하 */
@media (max-width: 1200px) {
  #movie-grid-list {
    grid-template-columns: repeat(4, 241px);
  }
}

/* 1024px 이하 */
@media (max-width: 1024px) {
  #movie-grid-list {
    grid-template-columns: repeat(3, 241px);
  }
}

/* 768px 이하 */
@media (max-width: 768px) {
  #movie-grid-list {
    grid-template-columns: repeat(2, 241px);
  }
}

/* 480px 이하 */
@media (max-width: 480px) {
  #movie-grid-list {
    grid-template-columns: 241px;
  }
}
